
@{
    ViewBag.Title = "Thay đổi mật khẩu định kỳ";
    Layout = "~/Views/Shared/_LayoutChangePassword.cshtml";
}
<style>
    label {
        font-weight: 500;
    }

    .pyme-color {
        background-color: #42AA62;
    }

    .btn-outline-pyme {
        border: 2px solid #42AA62 !important;
        background-color: transparent !important;
        color: #42AA62 !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="mahoamoi" name="mahoamoi" type="password" style="display:none" />
    <input id="mahoacu" name="mahoacu" type="password" style="display:none" />
    <div class="col main pt-1">
        <div class="card mb-5 wow fadeIn alert alert-danger" style="visibility: visible; animation-name: fadeIn;">
            <div class="card-body p-2 d-sm-flex justify-content-between">
                <h5 class="mb-2 mb-sm-0 pt-1 text-center w-100">
                    <img src="~/Content/Image/danger.png" />
                    Mật khẩu hiện tại của bạn đã được sử dụng trong @ViewBag.ngay ngày! Để đảm bảo chính sách bảo mật của hệ thống xin vui lòng đổi mật khẩu mới .
                </h5>
            </div>
        </div>
        <div class="modal-dialog cascading-modal" role="document" style="margin-top:0px;">
            <div class="modal-content">
                <div class="modal-header pyme-color white-text">
                    <h4 class="font-weight-bold w-100">
                        <i class="fa fa-key"></i> ĐỔI MẬT KHẨU
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-weight-bold" for="passold">Mật khẩu cũ</label>
                        <input maxlength="20" type="password" class="form-control" autocomplete="off" name="matkhaucu" id="passold" placeholder="Nhập mật khẩu cũ">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="passnew">Mật khẩu mới</label>
                        <input maxlength="20" type="password" autocomplete="off" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,20}$" name="matkhaumoi" class="form-control" id="passnew" placeholder="Nhập mật khẩu mới">
                    </div>
                    <div class="col-sm-12 mb-1 font-weight-normal">
                        <span id="6char" class="fa fa-remove" style="color:#FF0004;"></span> Độ dài ít nhất 6 ký tự<br>
                        <span id="ucase" class="fa fa-remove" style="color:#FF0004;"></span> Có ít nhất một chữ hoa<br>
                        <span id="lcase" class="fa fa-remove" style="color:#FF0004;"></span> Có ít nhất một chữ thường<br>
                        <span id="num" class="fa fa-remove" style="color:#FF0004;"></span> Có ít nhất một chữ số
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" for="repassnew">Nhập lại mật khẩu mới</label>
                        <input maxlength="20" type="password" autocomplete="off" class="form-control" name="rematkhaumoi" id="repassnew" placeholder="Nhập lại mật khẩu mới">
                    </div>
                    <div class="col-sm-12 font-weight-normal">
                        <span id="pwmatch" class="fa fa-remove" style="color:#FF0004;"></span> Nhập lại chính xác
                    </div>
                    <div class="text-center mb-2">
                        <button id="submit1" type="submit" class="btn pink-gradient btn-rounded mt-3 waves-effect waves-light transition-3d-hover">
                            Thay đổi
                            <i class="fa fa-edit ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="~/Content/MDB/js/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/PasswordJS.js?version=3"></script>
@if (ViewBag.msg == 1)
{
    <script>
        $(document).ready(function () {
            $.confirm({
                title: '<b>THÔNG BÁO</b>',
                content: 'Nhập lại mật khẩu cũ không đúng. Vui lòng thử lại !',
                buttons: {
                    cancel: {
                        text: 'Đóng',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function () {

                        }
                    }
                }
            });
        });
    </script>
}
@if (ViewBag.msg == 2)
{
    <script>
        $(document).ready(function () {
            $.confirm({
                title: '<b>THÔNG BÁO</b>',
                content: 'Mật khẩu mới không được trùng với mật khẩu cũ. Vui lòng thử lại !',
                buttons: {
                    cancel: {
                        text: 'Đóng',
                        btnClass: 'btn-blue',
                        keys: ['enter', 'shift'],
                        action: function () {

                        }
                    }
                }
            });
        });
    </script>
}
