<appSettings>
  <add key="ida:AppID" value="3da23c75-9391-4952-a029-f5b2712a4bed" />
  <add key="ida:AppSecret" value="3255d087-2707-4b54-8681-027e1f185522" />
  <add key="ida:RedirectUri" value="https://localhost:44367/  " />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>