<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings file="PrivateSettings.config">
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>

	<system.web>
		<machineKey validation="SHA1" />
		<globalization fileEncoding="utf-8" />
		<compilation debug="true" targetFramework="4.5.2">
			<buildProviders>
				<add extension=".cshtml" type="RazorHtmlMinifier.Mvc5.MinifyingRazorBuildProvider, RazorHtmlMinifier.Mvc5" />
			</buildProviders>
		</compilation>
		<httpRuntime maxRequestLength="1048576" targetFramework="4.5" executionTimeout="14400" />
		<!--<roleManager enabled="true" />-->
		<sessionState mode="InProc" timeout="1" />

		<authentication mode="Forms">
			<forms loginUrl="/dang-xuat" timeout="240" requireSSL="false" />
		</authentication>
		<customErrors mode="Off" defaultRedirect="/error404">
			<error statusCode="404" redirect="/dang-nhap" />
			<error statusCode="403" redirect="~/Home/ERRORPAGE" />
			<error statusCode="500" redirect="~/Home/ERRORPAGE" />
		</customErrors>
		<httpCookies requireSSL="false" httpOnlyCookies="true" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthenticationModule" />
		</modules>
		<security>
			<requestFiltering removeServerHeader="true">
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<httpCompression>
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
			<mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
		</staticContent>

		<!--<httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="192.168.0.156:811/Home/ERRORPAGE" responseMode="Redirect" />
    </httpErrors>-->
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<remove name="LocalSqlServer" />
		<add name="KT_PYPHARMEntities1" connectionString="data source=172.16.1.1;initial catalog=KT_PYPHARM;persist security info=True;user id=webservice;password=!@#Pypharm1;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
		<add name="KT_QTEntities1" connectionString="data source=172.16.1.1;initial catalog=KT_QT;persist security info=True;user id=webservice;password=!@#Pypharm1;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="KT_PYPHARM_HCMEntities1" connectionString="data source=172.16.1.1;initial catalog=KT_PYPHARM_HCM;persist security info=True;user id=webservice;password=!@#Pypharm1;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />


		<add name="ApplicationChartEntities1" connectionString="metadata=res://*/Models.UserData.csdl|res://*/Models.UserData.ssdl|res://*/Models.UserData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=GATEWAY;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KT_PYPHARMEntities" connectionString="metadata=res://*/Models.KT_QN.csdl|res://*/Models.KT_QN.ssdl|res://*/Models.KT_QN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_PYPHARM;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KT_QTEntities" connectionString="metadata=res://*/Models.KT_QN.csdl|res://*/Models.KT_QN.ssdl|res://*/Models.KT_QN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_QT;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KT_PYPHARM_HCMEntities" connectionString="metadata=res://*/Models.KT_QN.csdl|res://*/Models.KT_QN.ssdl|res://*/Models.KT_QN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_PYPHARM_HCM;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KTEntities" connectionString="metadata=res://*/Models.KT_QN.csdl|res://*/Models.KT_QN.ssdl|res://*/Models.KT_QN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KT_SCEntities" connectionString="metadata=res://*/Models.KT_QN.csdl|res://*/Models.KT_QN.ssdl|res://*/Models.KT_QN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_PYPHARM;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SCEntities" connectionString="metadata=res://*/Models.SCModel.csdl|res://*/Models.SCModel.ssdl|res://*/Models.SCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_PYPHARM;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="VNPTINVOICEEntities" connectionString="metadata=res://*/Models.VNPTINVOICE.csdl|res://*/Models.VNPTINVOICE.ssdl|res://*/Models.VNPTINVOICE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=VNPTINVOICE;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KT_THEntities1" connectionString="metadata=res://*/Models.KT_TH.csdl|res://*/Models.KT_TH.ssdl|res://*/Models.KT_TH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_TH;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KT_THEntities2" connectionString="metadata=res://*/Models.KT_TH.csdl|res://*/Models.KT_TH.ssdl|res://*/Models.KT_TH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_TH;persist security info=True;user id=webservice;password=!@#Pypharm1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="KT_QNEntities" connectionString="metadata=res://*/Models.KT_QN.csdl|res://*/Models.KT_QN.ssdl|res://*/Models.KT_QN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_PYPHARM;user id=webservice;password=!@#Pypharm1;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Entities" connectionString="metadata=res://*/Models.KT_QN.csdl|res://*/Models.KT_QN.ssdl|res://*/Models.KT_QN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.1;initial catalog=KT_PYPHARM;user id=webservice;password=!@#Pypharm1;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
