<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="~/Content/Layout1/images/logopmp1.png" />
    <title>Đổi mật khẩu</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/LayoutPro/css/bootstrap.min.css?version=1" rel="stylesheet">

    <link href="~/Content/LayoutPro/css/mdb.css?version=2" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/Content/MDB/css/style.css" rel="stylesheet">
    @*<link href="~/Content/w3.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="~/Content/LoginCss.css?version=1" rel="stylesheet">

</head>
<body class="creative-lp">
    <header class="logo-center" style="border-bottom:7px solid #2FA95E">
        <div class="container">
            <div class="logo" style="margin-top:12px;margin-bottom:12px;">
                <img src="~/Content/Layout1/images/logover2.png" />
            </div>
        </div>
    </header>
    @RenderBody()
    <footer style="border-top:7px solid #2FA95E; margin-top:20px;">
        <div class="container" style="height:62px;">
            <img style="float:left" src="~/Content/Layout1/images/logonew.png" />
            <img style="float:right" src="~/Content/Layout1/images/mark.png" />
            <p style="padding-top:21px;">Copyright ©@DateTime.Now.Year. All Rights Reserved.</p>
        </div>
    </footer>
    <style>
        .md-form {
            margin-top: 40px;
            margin-bottom: 40px;
        }

            .md-form label.active {
                font-size: 1.2em;
            }

        .modal-dialog.cascading-modal .modal-header {
            padding: 0.8rem;
        }

        .alert {
            padding: .05rem 1.25rem;
        }

        .transition-3d-hover:hover, .transition-3d-hover:focus {
            -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
        }
    </style>
    <!-- Start your project here-->
    <!-- /Start your project here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/Content/MDB/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/Scripts/jquery-confirm.min.js?version=1"></script>
    <script type="text/javascript" src="~/Content/MDB/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/Content/MDB/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/Content/MDB/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/Scripts/md5.min.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript" language="javascript">
        //Check if the top location is same as the current location
        if (top.location.hostname != self.location.hostname) {
            //If not then set the top to you current
            top.location.href = self.location.href;
        }
    </script>
</body>

</html>
